# Redirect URLs of the legacy Confluence-based Tapestry Website to the new Antora-based Tapestry Website

# Redirect 301 /2010/12/17/announcing-tapestry-52.html
# Redirect 301 /2011/03/23/tapestry-5-in-action-available-through-meap.html
# Redirect 301 /2011/03/29/tapestry-525-maintenance-release.html
# Redirect 301 /2011/06/13/tapestrys-performance-tested.html
# Redirect 301 /2012/10/12/announcing-tapestry-536.html
# Redirect 301 /2014/12/11/tapestry-538.html
# Redirect 301 /2020/03/23/tapestry-550-released.html
# Redirect 301 /2020/08/30/tapestry-560-released.html
# Redirect 301 /2021/02/24/tapestry-562-released.html
# Redirect 301 /2021/02/24/tapestry-570-released.html
# Redirect 301 /2022/06/20/tapestry-582-released.html
Redirect 301 /about.html /main/about.html
Redirect 301 /ajax-and-zones.html /userguide/current/ajax-and-zones.html
Redirect 301 /ajax-components-faq.html /userguide/current/faq/ajax.html
Redirect 301 /ajax-javascript.html /userguide/current/ajax-and-zones.html
Redirect 301 /aliases.html /userguide/current/aliases.html
Redirect 301 /annotations.html /userguide/current/annotations.html
Redirect 301 /application-module-class-cheat-sheet.html /userguide/current/ioc-modules.html
Redirect 301 /applications.html /userguide/current/ioc-modules.html
Redirect 301 /assets.html /userguide/current/assets.html
Redirect 301 /autoloading-modules.html /userguide/current/autoloading-modules.html
Redirect 301 /bean-validation.html /userguide/current/bean-validation.html
Redirect 301 /beaneditform-faq.html /userguide/current/beaneditform-guide.html
Redirect 301 /beaneditform-guide.html /userguide/current/beaneditform-guide.html
# Redirect 301 /books.html
Redirect 301 /building-tapestry-from-source.html /main/developers.html
Redirect 301 /built-in-mixins.html /userguide/current/component-mixins.html
Redirect 301 /built-in-modules.html /userguide/current/faq/general.html
Redirect 301 /case-insensitivity.html /userguide/current/case-insensitivity.html
Redirect 301 /chainbuilder-service.html /userguide/current/chainbuilder-service.html
Redirect 301 /cheat-sheets.html /userguide/current/component-reference.html
Redirect 301 /class-reloading.html /userguide/current/class-reloading.html
Redirect 301 /client-side-javascript.html /userguide/current/client-side-javascript.html
Redirect 301 /clustering-issues.html /userguide/current/cookbook/performance-and-clustering.html
Redirect 301 /coffeescript.html /userguide/current/coffeescript.html
Redirect 301 /community.html /main/community.html
Redirect 301 /component-cheat-sheet.html /userguide/current/component-reference.html
Redirect 301 /component-classes.html /userguide/current/component-classes.html
Redirect 301 /component-events-faq.html /userguide/current/faq/ajax.html
Redirect 301 /component-events.html /userguide/current/component-events.html
Redirect 301 /component-libraries.html /userguide/current/cookbook/component-libraries.html
Redirect 301 /component-mixins.html /userguide/current/component-mixins.html
Redirect 301 /component-parameters.html /userguide/current/component-parameters.html
Redirect 301 /component-reference.html /userguide/current/component-reference.html
Redirect 301 /component-rendering /userguide/current/component-rendering.html
Redirect 301 /component-rendering.html /userguide/current/component-rendering.html
Redirect 301 /component-report.html /userguide/current/component-report.html
Redirect 301 /component-templates.html /userguide/current/component-templates.html
Redirect 301 /configuration.html /userguide/current/configuration.html
Redirect 301 /content-type-and-markup.html /userguide/current/content-type-and-markup.html
# Redirect 301 /contributors.html
# Redirect 301 /cookbook.html
Redirect 301 /cors-cross-origin-resource-sharing-support-582.html /userguide/current/cors.html
Redirect 301 /creating-the-skeleton-application.html /main/tutorial/creating-the-skeleton-application.html
Redirect 301 /css.html /userguide/current/css.html
Redirect 301 /default-parameter.html /userguide/current/cookbook/default-parameter.html
Redirect 301 /defining-tapestry-ioc-services.html /userguide/current/defining-tapestry-ioc-services.html
# Redirect 301 /demos
# Redirect 301 /demos.html
Redirect 301 /dependencies-tools-and-plugins.html /main/tutorial/dependencies-tools-and-plugins.html
Redirect 301 /developer-bible.html /main/developers.html
Redirect 301 /developer-information.html /main/developers.html
Redirect 301 /development-dashboard.html /userguide/current/development-dashboard.html
# Redirect 301 /development-roadmap.html
Redirect 301 /documentation /main/documentation.html
Redirect 301 /documentation.html /userguide/current/
Redirect 301 /dom.html /userguide/current/dom.html
Redirect 301 /download /main/download.html
Redirect 301 /download.html /main/download.html
Redirect 301 /enum-parameter-recipe.html /userguide/current/cookbook/enum-parameter-recipe.html
Redirect 301 /environmental-services.html /userguide/current/environmental-services.html
Redirect 301 /error-page-recipe.html /userguide/current/cookbook/error-page-recipe.html
Redirect 301 /exploring-the-project.html /main/tutorial/exploring-the-project.html
Redirect 301 /extending-the-if-component.html /userguide/current/cookbook/extending-the-if-component.html
# Redirect 301 /footer.html
Redirect 301 /forms-and-form-components-faq.html /userguide/current/faq/ajax.html
Redirect 301 /forms-and-validation.html /userguide/current/forms-and-validation.html
Redirect 301 /forms.html /userguide/current/forms-and-validation.html
# Redirect 301 /frequently-asked-questions.html
Redirect 301 /functional-flows.html /userguide/current/pipelinebuilder-service.html
Redirect 301 /general-questions.html /userguide/current/faq/general.html
Redirect 301 /getting-started.html /main/getting-started.html
Redirect 301 /getting-started.html?enable_bottom_share_style=1&hybrid_event_param=HybridEventParams(enterMethod=message_markdown_url, localPage=chat, chatType=default_new, duration=0, isRichMediaPictureLink=false, mobMap={message_id=39408872617938434, previous_page=chat_list, is_immersive_background=0, chat_type=default_new, reply_id=39408872617936130, enter_method=, conversation_id=38415080137242626, enter_chat_method=, bot_id=7234781073513644036, current_page=chat}, extra=null)&use_xbridge3=true&loader_name=forest&need_sec_link=1&sec_link_scene=im&theme=light /main/getting-started.html
Redirect 301 /google-app-engine.html /userguide/current/cookbook/google-app-engine.html
Redirect 301 /hibernate-core-conf.html /userguide/current/hibernate.html
Redirect 301 /hibernate-core.html /userguide/current/hibernate.html
Redirect 301 /hibernate-statistics.html /userguide/current/hibernate.html
Redirect 301 /hibernate-support-faq.html /userguide/current/hibernate.html
Redirect 301 /hibernate-user-guide.html /userguide/current/hibernate.html
Redirect 301 /hibernate.html /userguide/current/hibernate.html
Redirect 301 /hilo.html /main/tutorial/implementing-the-hi-lo-guessing-game.html
Redirect 301 /how-to-upgrade.html /userguide/current/faq/general.html
Redirect 301 /https.html /userguide/current/https.html
Redirect 301 /implementing-the-hi-lo-guessing-game.html /main/tutorial/implementing-the-hi-lo-guessing-game.html
Redirect 301 /injection-faq.html /userguide/current/faq/general.html
Redirect 301 /injection-in-detail.html /userguide/current/injection-in-detail.html
Redirect 301 /injection.html /userguide/current/injection.html
Redirect 301 /input-validation.html /userguide/current/forms-and-validation.html
Redirect 301 /integrating-with-jpa.html /userguide/current/integrating-with-jpa.html
Redirect 301 /integrating-with-spring-framework.html /userguide/current/integrating-with-spring-framework.html
Redirect 301 /integration-testing.html /userguide/current/integration-testing.html
Redirect 301 /integration-with-existing-applications.html /userguide/current/ioc-modules.html
Redirect 301 /introduction.html /userguide/current/index.html#_what_is_apache_tapestry
Redirect 301 /ioc-advice.html /userguide/current/service-advisors.html
Redirect 301 /ioc-autoload.html /userguide/current/autoloading-modules.html
Redirect 301 /ioc-case.html /userguide/current/cookbook/switching-cases.html
Redirect 301 /ioc-cookbook-basic-services-and-injection.html /userguide/current/cookbook/ioc-cookbook-basic-services-and-injection.html
Redirect 301 /ioc-cookbook-basics.html /userguide/current/cookbook/ioc-cookbook.html
Redirect 301 /ioc-cookbook-override.html /userguide/current/cookbook/ioc-cookbook-overriding-ioc-services.html
Redirect 301 /ioc-cookbook-overriding-ioc-services.html /userguide/current/cookbook/ioc-cookbook-overriding-ioc-services.html
Redirect 301 /ioc-cookbook-patterns.html /userguide/current/cookbook/ioc-cookbook-patterns.html
Redirect 301 /ioc-cookbook-service-configurations.html /userguide/current/cookbook/ioc-cookbook-service-configurations.html
Redirect 301 /ioc-cookbook.html /userguide/current/cookbook/ioc-cookbook.html
Redirect 301 /ioc-module.html /userguide/current/ioc-modules.html
Redirect 301 /ioc-order.html /userguide/current/ordering-by-constraints.html
Redirect 301 /ioc-overview.html /userguide/current/ioc-overview.html
Redirect 301 /ioc-parallel.html /userguide/current/parallel-execution.html
Redirect 301 /ioc-pipeline.html /userguide/current/pipelinebuilder-service.html
Redirect 301 /ioc-provider.html /userguide/current/object-providers.html
Redirect 301 /ioc-symbols.html /userguide/current/symbols.html
Redirect 301 /ioc.html /userguide/current/ioc-overview.html
Redirect 301 /javascript-faq.html /userguide/current/faq/general.html
Redirect 301 /javascript-modules.html /userguide/current/javascript-modules.html
Redirect 301 /javascript-rewrite-in-54.html /userguide/current/javascript-modules.html
Redirect 301 /javascript.html /userguide/current/javascript-modules.html
Redirect 301 /jmx-module.html /userguide/current/faq/general.html
Redirect 301 /json.html /userguide/current/rest.html
Redirect 301 /key-features.html /userguide/current/introduction.html
Redirect 301 /layout-component.html /userguide/current/layout-component.html
Redirect 301 /legacy-javascript.html /userguide/current/javascript-modules.html
Redirect 301 /limitations.html /userguide/current/faq/general.html
Redirect 301 /link-components-faq.html /userguide/current/faq/ajax.html
Redirect 301 /loading-the-project-into-eclipse.html /main/tutorial/index.html
Redirect 301 /localization.html /userguide/current/localization.html
Redirect 301 /logging-in-tapestry.html /userguide/current/logging-in-tapestry.html
Redirect 301 /logging.html /userguide/current/logging.html
Redirect 301 /mailing-lists.html /main/community.html#_mailing_lists
Redirect 301 /maven-support-faq.html /userguide/current/faq/general.html
Redirect 301 /meta-programming-page-content.html /userguide/current/cookbook/meta-programming-page-content.html
Redirect 301 /modules.html /userguide/current/ioc-modules.html
# Redirect 301 /news.html
Redirect 301 /object-providers.html /userguide/current/object-providers.html
Redirect 301 /operation-tracker.html /userguide/current/operation-tracker.html
Redirect 301 /ordering-by-constraints.html /userguide/current/ordering-by-constraints.html
Redirect 301 /overriding-exception-reporting.html /userguide/current/cookbook/overriding-exception-reporting.html
Redirect 301 /page-and-component-classes-faq.html /userguide/current/faq/general.html
Redirect 301 /page-and-component-classes.html /userguide/current/component-classes.html
Redirect 301 /page-life-cycle.html /userguide/current/page-life-cycle.html
Redirect 301 /page-navigation.html /userguide/current/page-navigation.html
Redirect 301 /parallel-execution.html /userguide/current/parallel-execution.html
Redirect 301 /parameter-type-coercion.html /userguide/current/parameter-type-coercion.html
Redirect 301 /performance-and-clustering.html /userguide/current/cookbook/performance-and-clustering.html
Redirect 301 /persistent-page-data.html /userguide/current/persistent-page-data.html
Redirect 301 /pipelinebuilder-service.html /userguide/current/pipelinebuilder-service.html
# Redirect 301 /presentations.html
Redirect 301 /principles.html /userguide/current/principles.html
Redirect 301 /project-layout.html /userguide/current/project-layout.html
Redirect 301 /property-expressions.html /userguide/current/property-expressions.html
Redirect 301 /registry-startup.html /userguide/current/registry-startup.html
Redirect 301 /release-notes /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-50.html /userguide/current/release-notes-5.0.html
Redirect 301 /release-notes-51.html /userguide/current/release-notes-5.1.html
Redirect 301 /release-notes-52.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-520.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-521.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-522.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-523.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-524.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-525.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-526.html /userguide/current/release-notes-5.2.html
Redirect 301 /release-notes-53.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-531.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-532.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-533.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-534.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-535.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-536.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-537.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-538.html /userguide/current/release-notes-5.3.html
Redirect 301 /release-notes-54.html /userguide/current/release-notes-5.4.html
Redirect 301 /release-notes-541.html /userguide/current/release-notes-5.4.html
Redirect 301 /release-notes-542.html /userguide/current/release-notes-5.4.html
Redirect 301 /release-notes-543.html /userguide/current/release-notes-5.4.html
Redirect 301 /release-notes-544.html /userguide/current/release-notes-5.4.html
Redirect 301 /release-notes-545.html /userguide/current/release-notes-5.4.html
Redirect 301 /release-notes-550.html /userguide/current/release-notes-5.5.html
Redirect 301 /release-notes-560.html /userguide/current/release-notes-5.6.html
Redirect 301 /release-notes-561.html /userguide/current/release-notes-5.6.html
Redirect 301 /release-notes-562.html /userguide/current/release-notes-5.6.html
Redirect 301 /release-notes-563.html /userguide/current/release-notes-5.6.html
Redirect 301 /release-notes-564.html /userguide/current/release-notes-5.6.html
Redirect 301 /release-notes-570.html /userguide/current/release-notes-5.7.html
Redirect 301 /release-notes-571.html /userguide/current/release-notes-5.7.html
Redirect 301 /release-notes-572.html /userguide/current/release-notes-5.7.html
Redirect 301 /release-notes-573.html /userguide/current/release-notes-5.7.html
Redirect 301 /release-notes-580.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-581.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-582.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-583.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-584.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-585.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-586.html /userguide/current/release-notes-5.8.html
Redirect 301 /release-notes-587.html /userguide/current/release-notes-5.8.html
# Redirect 301 /release-notes-590.html
# Redirect 301 /release-notes-for-532.html
# Redirect 301 /release-notes.html
Redirect 301 /release-process.html /main/developers.html
Redirect 301 /release-upgrade-faq.html /userguide/current/faq/general.html
Redirect 301 /reload.html /userguide/current/service-implementation-reloading.html
Redirect 301 /request-processing-faq.html /userguide/current/faq/general.html
Redirect 301 /request-processing.html /userguide/current/request-processing.html
Redirect 301 /response-compression.html /userguide/current/response-compression.html
Redirect 301 /rest-support-580.html /userguide/current/rest.html
Redirect 301 /runtime-exceptions.html /userguide/current/runtime-exceptions.html
# Redirect 301 /search.html
Redirect 301 /security /userguide/current/security.html
Redirect 301 /security-faq.html /userguide/current/security.html
Redirect 301 /security.html /userguide/current/security.html
Redirect 301 /service-advisors.html /userguide/current/service-advisors.html
Redirect 301 /service-implementation-reloading /userguide/current/service-implementation-reloading.html
Redirect 301 /service-implementation-reloading.html /userguide/current/service-implementation-reloading.html
Redirect 301 /service-serialization.html /userguide/current/service-serialization.html
Redirect 301 /session-storage.html /userguide/current/session-storage.html
Redirect 301 /shadowbuilder-service.html /userguide/current/shadowbuilder-service.html
Redirect 301 /specific-errors-faq.html /userguide/current/faq/general.html
Redirect 301 /specific-errors.html /userguide/current/faq/general.html
Redirect 301 /spring.html /userguide/current/integrating-with-spring-framework.html
Redirect 301 /starting-the-ioc-registry.html /userguide/current/starting-the-ioc-registry.html
Redirect 301 /statistics.html /userguide/current/userguide/current/hibernate.html#_hibernate_statistics
Redirect 301 /strategybuilder-service.html /userguide/current/strategybuilder-service.html
Redirect 301 /support.html /main/support.html
Redirect 301 /supported-environments-and-versions.html /main/supported-environments-and-versions.html
Redirect 301 /supporting-informal-parameters.html /userguide/current/cookbook/supporting-informal-parameters.html
Redirect 301 /switching-cases.html /userguide/current/cookbook/switching-cases.html
Redirect 301 /symbols.html /userguide/current/symbols.html
Redirect 301 /tapestry-for-jsf-users.html /userguide/current/introduction.html
Redirect 301 /tapestry-inversion-of-control-container.html /userguide/current/ioc-overview.html
Redirect 301 /tapestry-inversion-of-control-faq.html /userguide/current/ioc-overview.html
Redirect 301 /tapestry-ioc-configuration.html /userguide/current/ioc-configuration.html
Redirect 301 /tapestry-ioc-decorators.html /userguide/current/service-decorators.html
Redirect 301 /tapestry-ioc-modules.html /userguide/current/ioc-modules.html
Redirect 301 /tapestry-ioc-overview.html /userguide/current/ioc-overview.html
Redirect 301 /tapestry-tutorial.html /main/tutorial/
Redirect 301 /templating-and-markup-faq.html /userguide/current/faq/templating-and-markup.html
# Redirect 301 /test.html
Redirect 301 /the-tapestry-jail.html /userguide/current/introduction.html
Redirect 301 /third-party-modules.html /userguide/current/third-party-modules.html
# Redirect 301 /this-page-has-been-deleted.html
Redirect 301 /tutorial.html /main/tutorial/index.html
Redirect 301 /type-coercion.html /userguide/current/type-coercion.html
Redirect 301 /typecoercer-service.html /userguide/current/type-coercion.html
Redirect 301 /typescript.html /userguide/current/typescript.html
Redirect 301 /unit-testing-pages-or-components.html /userguide/current/unit-testing.html
Redirect 301 /uploading-files.html /userguide/current/uploading-files.html
Redirect 301 /url-rewriting.html /userguide/current/url-rewriting.html
Redirect 301 /user-guide.html /userguide/current/
Redirect 301 /userguide.html /main/userguide.html
Redirect 301 /using-beaneditform-to-create-user-forms.html /main/tutorial/using-beaneditform-to-create-user-forms.html
Redirect 301 /using-jsr-330-standard-annotations.html /userguide/current/using-jsr-330-standard-annotations.html
Redirect 301 /using-select-with-a-list.html /userguide/current/cookbook/using-select-with-a-list.html
Redirect 301 /using-tapestry-with-hibernate.html /main/tutorial/using-tapestry-with-hibernate.html
Redirect 301 /version-numbers.html /userguide/current/faq/general.html

